nav svg {
    fill: #F05454;
}

#icon {
    font-size: 2rem !important;
}

#hide {
    display: inline-block;
    max-width: 0%;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width .5s ease-in-out;
}

#icon:hover #hide {
    max-width: 100%;
}

nav a {
    color: #F05454;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 900;
}

.row a {
    position: relative;
}

.row a::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #F05454;
    bottom: 0;
    width: 0%;
    transition: width .5s ease-in-out;
}

.row a:hover::before {
    width: 100%;
}

main {
    margin-bottom: 2rem;
}

body {
    background-color: #FBF7F2;
    color: #F05454;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
}

.main_full {
    margin-top: 5rem;
    gap: 1rem;
}

.main_picture {
    overflow: hidden;
    border-radius: 800px;
    box-shadow: 0px 0px 15px #00000080;
    transition: all 0.5s ease-in-out;
}

.main_picture:hover {
    transform: scale(1.1);
}

.main_picture img {
    height: auto;
    width: 100%;
}

.main_heading {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
    font-size: 2rem;
}

.main_heading > * {
    margin: 0
}

#name {
    font-size: 4.5rem;
    font-weight: bold;
}

.words{
    overflow: hidden;
    height: 70px;
    width: auto;
    margin-right: 1rem;
}

.words span{
    display: block;
    height: 100%;
    animation: spin_words 5s infinite;
}

@keyframes spin_words{
    17%{
        transform: translateY(-112%);
    }
    34%{
        transform: translateY(-100%);
    }
    51%{
        transform: translateY(-212%);
    }
    68%{
        transform: translateY(-200%);
    }
    84%{
        transform: translateY(-312%);
    }
    100%{
        transform: translateY(-300%);
    }
}

.btn {
    background-color: #F05454;
    color: white;
    transition: all 400ms ease-in-out;
}

.btn:hover {
    border-radius: 15px;
    transform: scale(1.1);
    background-color:#F05454;
    color: white;
}

.animation_words {
    display: flex;
}

#chevron {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

#chevron button {
    background-color: transparent;
    border-radius: 100px;
    aspect-ratio: 1 / 1;
    border: none;
}

#chevron button:hover { 
    background-color: #E1DED980;
}

#chevron svg {
    transform: scale;
    fill: #F05454;
}

.about {
    margin: 10rem auto 7rem;
    padding: 0;
    width: 100%;
}

#about_section {
    background-color: #F05454;
    width: 100%;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 1.5rem 2rem 2rem;
    color: #FBF7F2;
    font-size: 1.25rem;
    font-weight: 500;
}

#about_section h1 {
    position: relative;
    font-size: 4rem;
    width:fit-content;
}

#about_section h1::before {
    content: "";
    position: absolute;
    height: .4rem;
    background-color: #FBF7F2;
    bottom: 0;
    width: 0%;
    transition: width .5s ease-in-out;
}

#about_section h1:hover::before {
    width: 100%;
}

#important {
    font-size: 1.5rem;
    font-weight: 600;
}

#copyright {
    text-align: center;
    position: fixed;
    background-color:#FBF7F2;
    width: 100%;
    bottom: 0;
    left: 50%; 
    transform: translate(-50%, 0);
    margin-top: 1rem;
    padding: 2rem 0 1rem;
    margin-bottom: 0;
}