<%- include("partials/header.ejs") %>

dfsdfs
<form action="/new" method="post">
    <input type="text" placeholder="item" name="item">
    <input type="date" name="date" min="today">
    <button type="submit">Submit</button>
</form>

<%- include("partials/footer.ejs") %>