{% extends 'layout.html' %}

{% block body %}
<div>
    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in posts %}
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <image href="{{ post.img_src }}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                    <text x="50%" y="50%" fill="white">Thumbnail</text>
                </svg>
    
                <div class="card-body">
                  <p class="card-text" style="min-height: 5vh;">{{ post.subtitle }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-secondary" style="border-right: 1.5px solid black;">View</button>
                      <button type="button" class="btn btn-sm btn-secondary" style="border-left: 1.5px solid black;">Edit</button>
                    </div>
                    <small class="text-muted">{{ post.date.strftime("%B %d, %Y %I:%M %p") }}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        
        </div>
    </div>
</div>
{% endblock %}